@{
    ViewBag.Title = "Hr Support";
}


<div class="col-sm-12 mb-4">
    <div class="card-group">
        <div class="card col-md-6 no-padding ">
            <div class="card-body">
                <div class="h1 text-muted text-right mb-4">
                    <i class="fa ti-briefcase"></i>
                </div>

                <div class="h4 mb-0">
                    <span class="count">@ViewBag.Total</span>
                </div>

                <small class="text-muted text-uppercase font-weight-bold">Functional Situations</small>
                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;"></div>
            </div>
        </div>
      
    </div>
</div>
